@import './variables.scss';
@import './components/components.scss';

body {
    font-family: $primary-font;
    min-height: calc(100vh - 1.5em);
    padding-bottom: 0.5em;
    overflow-x: hidden;
    max-width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 960px;
}

a {
    & > .icon {
        height: calc(1em - 4px);
    }
}

.hidden {
    display: none;
}

#skip-link {
    position: absolute;
    top: -2em;
    left: 0;

    &:focus {
        top: 0;
    }
}

#back-button {
    background: #FCBF38;
    color: #1B3F98;
    font-weight: 600;
    border: none;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    padding: 0.6em 1.2em 0.6em 0.6em;
    border-radius: 0.5em;
    margin-bottom: 1em;

    & > .icon {
        height: calc(1.2em - 3px);
        margin-right: 0.5em;
    }

    &.hidden {
        display: none;
    }
}

#scrolltop {
    font-size: 1.5em;
    padding: 1em;
    background: #FCBF38;
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;

    z-index: 100;
}