#main-content.booking {
    // text-align: center;
    font-size: 1.25em;
    overflow-x: hidden;

    position: relative;
    left: 0;
    transition: all 0.5s ease-in-out;

    #booking-menu-1, #booking-menu-2, #booking-menu-3 {
        &.hidden {
            display: none;
        }
    }

    button.appointment-select, button.customer-select {
        background: #e3e3e3;
        border: none;
        border-left: 0.25em solid #FCBF38;
        font-size: 1.5em;
        padding: 1em;
        width: 100%;
        text-align: left;
        margin: 0.25em 0;

        display: flex;
        justify-content: space-between;

        & > p {
            margin: 0;
        }

        & > .icon {
            height: 1.25em;
        }
    }

    & > .container {
        max-width: 640px;

        & > p {
            color: rgb(49, 49, 49);
            margin: 0 0 2em 0;
        }

        & > .head-text {
            color: #222;
            font-weight: 600;
            margin: 0em 0 0.25em 0;
            font-size: 2.8em;
            letter-spacing: -0.05em;
            line-height: 100%;
            word-break: break-word;
            hyphens: auto;
        }

        & > #appointment-selection {
            margin-top: 2em;
            text-align: left;
        }
    }
}